/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mb-2r {
  margin-bottom: 2%;
}

.ml-5r {
  margin-left: 5%;
}
